# OpenAI
OPENAI_API_KEY =''
OPENAI_MODEL = 'gpt-4' #Has to have access to tools. gpt-3.5-turbo-1106

# Others
PEXELS_API_KEY=''
SERPAPI_API_KEY='' #not required yet

# Wordpress
WORDPRESS_USERNAME=''
WORDPRESS_PASSWORD=''
WORDPRESS_URL=''
WP_AUTHOR_ID = #number found in aurthor url
WP_STATUS = 'draft' #draft or publish

# Setup
KEYWORD = 'Top breakfast places in Columbia Missouri'